node_modules/
.next/
coverage/
.DS_Store
*.log
.env*
!.env.example

.env

# Next.js specific build/cache
/out/
/build/
*.tsbuildinfo
next-env.d.ts

# Linter cache
.eslintcache

# Cloud/Deployment (if using Vercel)
.vercel/

# Editor/OS settings (optional but good practice)
.vscode/
.idea/
*.swp
Thumbs.db
public/swe-worker-5c72df51bb1f6ee0.js
public/workbox-f1770938.js
public/workbox-48c74287.js
public/sw.js
